.App {
  text-align: center;;
  display: flex;
  font-family: sans-serif;
}
.nav {
  background-color:rgb(243, 164, 118);
  color: white;
  height: 100vh;
  width: 8vw;
  align-items: center;
  justify-content: space-around;
}
button{
  color: white;
  background-color: transparent;
  border: 0;
}
img{
  width: 8vw;
}
